@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor01:#F5F5F5;
	--cor02:#D7CCC8;	
	--cor03:#D4A373;
	--cor04:#A1887F;
    --cor05:#5a3933;
	--cor06:#3E2723;
    --font0: Arial, Helvetica, sans-serif;
    --font1:"Poppins", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor02);
}

h1{
font-family: var(--font1);
padding: 20px;
text-align: center;
background-image: linear-gradient(to bottom, var(--cor01), var(--cor04), var(--cor05));
color: #fff;
text-shadow: 2px 2px 0px rgba(44, 44, 44, 0.527);

}
 
p{
    text-align: justify;
}

nav{
background-color: var(--cor05);
text-align: center;
padding-bottom: 20px;
border-radius: 0px 0px 10px 10px;
box-shadow: 0 7px 7px rgba(0, 0, 0, 0.288);

}

nav > a{
    text-align: center;
    display: inline-block;
    font-family: var(--font0);
    text-decoration: none;
    color: #fff;
    padding: 20px;
    text-shadow: 2px 2px 0px rgba(44, 44, 44, 0.527);
}

nav > a:hover{
    background-color: #85534aad;
    padding: 20px;
    border-radius: 20px;
    transition-duration: 0.5s;
}

main {
 background-color: var(--cor01);
 max-width: 950px;
 min-width: 280px;
 margin: auto;
 padding: 12px;
 margin-bottom: 30px;
 border-radius: 0px 0px 10px 10px;
 box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.418) ;
}

main > h2{
    color: var(--cor05);
    padding: 10px 10px;
    text-align: center;
    border-radius: 10px;
    font-family: var(--font1);
    background-color: var(--cor03);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

main > p{
    font-family: var(--font1);
    padding: 20px 10px;
    text-indent: 20px;

}

 main > p > a{
    text-decoration: none;
    color: #5a3933;
    background-color: var(--cor03);
}

.light300 {
    font-weight: 300;
}

picture > img{
display: block;
margin: auto;
padding: 10px;
border-radius: 10px;
background-color: #5a3933;
margin-bottom: 30px;
}

main > .video {
    background-color: #5a3933;
    margin: 0px -12px 30px -12px;
    position: relative;
    padding: 20px;
    padding-bottom: 40%;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer{
    background-color: #3E2723;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-family: var(--font1);
}
