@charset "UTF-8";
/*

      Em HTML é id = em CSS é (#) (só pode um elemento) 
      EM HTMl é Class = em CSS é (.) (pode varios elementos)
*/
body {
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1e402f;

}

#Principal {
background-color: #3c805e;
color: white;
   text-align: center; 
}

h2 {
    color: #3c805e;

}

.basico {
    color: #3c805e;
    font-weight: bold
}

.intermediario {
    color: #807b3c;

}

.avancado {
    color: #803c3c;

}

.destaque {
    background-color: #c5c56070;
}