@charset "Utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'iDroid';
    src: url('fontes/idroid/IDroid.otf') format('opentype');
    font: normal normal;
}



:root {
    --cor0:#C5EBD6;
    --cor1:#83E1AD;
    --cor2:#3DDC84;
    --cor3:#2FA866;
    --cor4:#1A5C37;
    --cor5:#063D1E;
    --font0: Arial, helvetica, sans-serif;
    --font1: 'Bebas Neue', coursive;
    --font2: 'iDroid', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
background-color: #fff6d6;
font-family: var(--font0);
}

header{
 background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
min-height: 150px;
text-align: center;
padding-top: 40px ;
}

header > h1{
color: white;
font-family: var(--font1);
font-size: 3em;
margin-bottom: 20px;
text-shadow: 2px 2px 0px rgba(44, 44, 44, 0.527);
}

header > p {
    color: #fff;
    font-family: var(--font0);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(44, 44, 44, 0.527);
}

span{
    color: var(--cor4);
    font-weight: bold;
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.514);
}

nav > a{
font-family: var(--font1);
color: #fff;
padding: 10px;
text-decoration: none;
font-weight: bold;
}

nav a:hover{
    font-weight: bolder;
    border-radius: 5px;
    background-color: var(--cor4);
    transition-duration: 0.4s;
    color: #063D1E;
}

main a{ 
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;

}

main a:hover{
   text-decoration: underline;
   color: var(--cor4);
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 960px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    
}

main > p{
    font-family: var(--font0);
    color: rgb(100, 100, 100);
    text-align: justify;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
    padding: 20px;
    

}

main > img{
    width: 100%;

}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main > h1 {
    font-family: var(--font2);
    color: var(--cor5);
    padding: 20px 20px 0px 20px;
}

main > h2 {
    font-family: var(--font2);
    color: var(--cor4);
    padding-left: 20px;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

mark {
    background-color: var(--cor2);
    color: rgb(109, 109, 109);
}





aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    border: 10px;
}

aside > ul{
    columns: 2;
    list-style-type: '\2714\0020\0020';
    list-style-position: inside;
    border: 10px;
}

aside p {
    text-indent: 1em;
    border: 10px;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -12px 30px -12px;
    padding: 20px;
    padding-bottom: 56%;
    position: relative;
}

div.video > iframe{
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;

}
footer{
    background-color: var(--cor4);
    text-align: center;
    padding: 4px;
    margin: 0px;
    color: #fff
}


footer > p {
    color: #fff;
}
