@charset "UTF-8";

body {
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: whitesmoke;

}

h2 {
    color: darkred;
}
 
p {
    text-align: justify;
}