@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
font-family: "Work Sans", sans-serif;
margin: 10px;
background-color: #422609;
color: #ffffffb0;
border: 0;
}
h1 {
    background-color: #8b5113;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 7px 4px rgba(0, 0, 0, 0.521);
    margin-bottom: 50px;
}

.answer{
    background-color: #5e4932;
    text-align: center;
    border-radius: 30px 30px;
    box-shadow: 10px 10px 7px 4px rgba(0, 0, 0, 0.521);
    margin-bottom: 30px;
}
p {
    font-weight: 300;
    padding: 30px;
}

h3 {
    font-weight: 400;
    
}

.beneficity {
    background-color: #6b461f;
    text-align: center;
    border-radius: 30px 30px;
    box-shadow: 10px 10px 7px 4px rgba(0, 0, 0, 0.521);
    margin-bottom: 30px;
}

.maleficity {
    background-color: #583a1a;
    text-align: center;
    border-radius: 30px 30px;
    box-shadow: 10px 10px 7px 4px rgba(0, 0, 0, 0.521);
}

